In [2]:
import csv
import pandas as pd
import numpy as np
import twython
from twython import Twython

In [3]:
path2 = 'brexit.csv'

In [4]:
tweets = []
with open(path2) as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter=",")
    for line in tsvreader:
        tweets.append(line)

In [14]:
tweets = pd.DataFrame(tweets)
tweets.head(15)

                     0         1
0   730759428430008320  Positive
1   730759413938655232  Negative
2   730759400445644801  Positive
3   730759393965412352   Neutral
4   730759392925261824  Positive
5   730759383253192705   Neutral
6   730759377548918784  Negative
7   730759375174897664   Neutral
8   730759372603789313  Negative
9   730759366530478080   Neutral
10  730759365142167552   Neutral
11  730759363175034880   Neutral
12  730759346766876672  Positive
13  730759344879505409   Neutral
14  730759334796349440  Negative

In [15]:
tweets[0][0:10]

0    730759428430008320
1    730759413938655232
2    730759400445644801
3    730759393965412352
4    730759392925261824
5    730759383253192705
6    730759377548918784
7    730759375174897664
8    730759372603789313
9    730759366530478080
Name: 0, dtype: object

In [5]:
brexit_tweets = tweets[0]
brexit_tweets[0:10]

0    730759428430008320
1    730759413938655232
2    730759400445644801
3    730759393965412352
4    730759392925261824
5    730759383253192705
6    730759377548918784
7    730759375174897664
8    730759372603789313
9    730759366530478080
Name: 0, dtype: object

In [6]:
# Download tweets from Twitter by ID number
CONSUMER_KEY = "16CNgfM124eTjyit2tsmA7RkW"
CONSUMER_SECRET = "NTK9RZ7ZTHeBt6iciD6EgsgmoAM3xaoC7SdwDaFNcMyMrG7lNZ"
OAUTH_TOKEN = "1117326140237066240-4uyf9WRk83KYMlJYQosX9Bar5Udst5"
OAUTH_TOKEN_SECRET = "AXgii35RB9NP1dSi6hJsUtX2kz8ZaIRapU8JKLl3HIgZn"
twitter = Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

In [20]:
text_tweets = []
i = -1
for tweet_id in tweets[0]:
    i += 1
    try:
        tweet = twitter.show_status(id = tweet_id)
        tweet_text = tweet['text']
        text_tweets.append([tweet_text, tweet_id, tweets[1][i]])
    except: 
        pass

In [13]:
text_tweets

[['RT @raymach1: @David_Cameron according to you everything in the World will suffer if we #LeaveEU , very desperate argument #callmedave',
  '730759400445644801',
  'Positive'],
 ["N Ireland's £850m farm exports to Republic of Ireland at risk if UK leaves the EU: #Brexit https://t.co/57dBCeqeEl https://t.co/km1Ii8b8Qc",
  '730759383253192705',
  'Neutral'],
 ["RT @EU_Mainstream: Yet more evidence that #Brexit will have negative economic impact. Britain's economy is #StrongerIn  https://t.co/UWlnsa…",
  '730759377548918784',
  'Negative'],
 ['The issue in Wales is now one of *perception*. Labour paint Plaid as working w. UKIP/Tories to gain power, Plaid protest this, but what now?',
  '730759375174897664',
  'Neutral'],
 ["RT @nickeardleybbc: Two UKIP members of the Welsh Assembly now say they'll back Labour's choice for first minister https://t.co/otcUlAHRak",
  '730759372603789313',
  'Negative'],
 ['r u 4 real @Vice? https://t.co/uFAtFHMn8D https://t.co/fjThdjpjU3',
  '730759366530478080',
  'Neutral'],
 ['Thing people are forgetting about the debate is that @Nigel_Farage will have facts on his side rather than spin. Cameron will lose. #UKIP',
  '730759365142167552',
  'Neutral'],
 ['RT @rshotton: Small wording changes make huge differences - for Brexit &amp; brands - research by @zenith https://t.co/VwMzgJRqA1 https://t.co/…',
  '730759363175034880',
  'Neutral'],
 ['RT @DianeJamesMEP: This is what the Unelected EU Elites who make decisions that affect your life, think of you! #BREXIT https://t.co/ufXtOi…',
  '730759346766876672',
  'Positive'],
 ['RT @dariomazzola: In/out UK has to deal with EU!  #Brexit means back of the queue! Expect 5-10yr #trade agreement delay per country!  https…',
  '730759344879505409',
  'Neutral'],
 ["RT @LeftFootFwd: Boris Johnson's #Brexit Bus is peddling a lie - we don't 'send EU £350m a week'. https://t.co/5i5blcXREz #BorisBus https:/…",
  '730759334796349440',
  'Negative'],
 ['RT @betteroutofEU: "Brexit would boost Britain’s global influence" #VoteLeave #LeaveEU #brexit #TakeControl https://t.co/fSKfJpTVuD',
  '730759321068445696',
  'Positive'],
 ['RT @sophgaston: The #Brexit Twittersphere: new @Demos blog maps networks beneath the campaign battleground https://t.co/U9dtkJp2IK https://…',
  '730759317884915712',
  'Neutral'],
 ['"We believe it would be a mistake to put one of our most thriving and innovative sectors at risk.” https://t.co/EZqNXLvS6g #Brexit #tech',
  '730759317075439617',
  'Negative'],
 ['Come along and support the #VoteLeave stall at #Eastleigh market on Saturday 14th May 9am-12',
  '730759310754611201',
  'Positive'],
 ['RT @UKIP: Will you be watching? https://t.co/2iK88EZIcJ',
  '730759308707811328',
  'Neutral']]

In [21]:
text_tweets = pd.DataFrame(text_tweets)

In [22]:
text_tweets.head()

,0,1,2
0,RT @raymach1: @David_Cameron according to you ...,730759400445644801,Positive
1,N Ireland's £850m farm exports to Republic of ...,730759383253192705,Neutral
2,RT @EU_Mainstream: Yet more evidence that #Bre...,730759377548918784,Negative
3,The issue in Wales is now one of *perception*....,730759375174897664,Neutral
4,RT @nickeardleybbc: Two UKIP members of the We...,730759372603789313,Negative

In [23]:
export_csv = text_tweets.to_csv (r'brexit_dataframe.csv', index = None, header=True)