In [1]:
import csv
import pandas as pd
import numpy as np
import twython
from twython import Twython

In [2]:
path2 = 'brexit.csv'

In [3]:
tweets = []
with open(path2) as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter=",")
    for line in tsvreader:
        tweets.append(line)

In [4]:
tweets = pd.DataFrame(tweets)
tweets.head(15)

                     0         1
0   730787809099956225   Neutral
1   730787803240484864  Negative
2   730787795183226880  Negative
3   730787787683794946  Positive
4   730787784236077056  Positive
5   730787782856179712  Negative
6   730787781333651456  Positive
7   730787780951953408  Positive
8   730787774777991172   Neutral
9   730787772424916992  Positive
10  730787762203295746  Negative
11  730787741865246724  Positive
12  730787730096017408   Neutral
13  730787723758407680  Positive
14  730787717878063104  Negative

In [5]:
tweets[0][0:10]

0    730787809099956225
1    730787803240484864
2    730787795183226880
3    730787787683794946
4    730787784236077056
5    730787782856179712
6    730787781333651456
7    730787780951953408
8    730787774777991172
9    730787772424916992
Name: 0, dtype: object

In [40]:
brexit_tweets4 = tweets[0][3000:4000]
len(brexit_tweets4)
brexit_tweets4[0:10]

3000    730803124785549312
3001    730803122784899073
3002    730803120603844608
3003    730803114551459840
3004    730803097954553856
3005    730803080925720576
3006    730803080850223104
3007    730803076244877312
3008    730803071081717761
3009    730803067025784832
Name: 0, dtype: object

In [24]:
# Download tweets from Twitter by ID number
CONSUMER_KEY = "16CNgfM124eTjyit2tsmA7RkW"
CONSUMER_SECRET = "NTK9RZ7ZTHeBt6iciD6EgsgmoAM3xaoC7SdwDaFNcMyMrG7lNZ"
OAUTH_TOKEN = "1117326140237066240-4uyf9WRk83KYMlJYQosX9Bar5Udst5"
OAUTH_TOKEN_SECRET = "AXgii35RB9NP1dSi6hJsUtX2kz8ZaIRapU8JKLl3HIgZn"
twitter = Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

In [41]:
for tweet_id in brexit_tweets4[0:5]:
    print(tweet_id)

730803124785549312
730803122784899073
730803120603844608
730803114551459840
730803097954553856

In [42]:
text_tweets = []
i = -1
for tweet_id in brexit_tweets4:
    i += 1
    try:
        tweet = twitter.show_status(id = tweet_id)
        tweet_text = tweet['text']
        text_tweets.append([tweet_text, tweet_id, tweets[1][i]])
    except: 
        pass

In [48]:
text_tweets[60:80]

[['RT @_TROTSKI_: I love Europe but EU is a joke. Why would I want to be governed by foreigners and unelected officials. #VoteLeave #Brexit',
  '730804765999800321',
  'Neutral'],
 ['Mark Carney: Brexit could cause technical recession.... https://t.co/Pyt2J746ar',
  '730804757959430148',
  'Neutral'],
 ['RT @ajcdeane: How many people working for the #EU do you think are paid more than the UK PM? 5? 10? No. 10,000. #brexitthemovie #Brexit',
  '730804756113952768',
  'Positive'],
 ["FTSE 100 hits five-week low as Mark Carney warns Brexit vote would risk 'technical recession' https://t.co/o0ntGHUeJ4",
  '730804748887195649',
  'Positive'],
 ['.@StrongerIn has raised almost three times as much money as its main rival https://t.co/Uxz6Zk6SG0 #Brexit #EUref https://t.co/2MCjqZw3Gd',
  '730804748614574082',
  'Positive'],
 ['How the ‘for’ and ‘against’ marketing matches up c/o @MarketingWeek https://t.co/YIRvSjiBxh',
  '730804744986472449',
  'Positive'],
 ["On tonight's Sky News Radio podcast: #Brexit #VoteLeave #StrongerIn #efc #Martinez #BBC https://t.co/B2qBli90aN",
  '730804744298610688',
  'Positive'],
 ["RT @TheEconomist: If Britain leaves the EU, it will be hard for London to remain Europe's financial centre https://t.co/yptujpe4vR https://…",
  '730804742411014145',
  'Negative'],
 ['RT @rafaelbehr: Artisanal bad judgement by Vote Leave, making Farage sound like the moderate, sober voice of Brexit https://t.co/a7GDw9MLIA',
  '730804740502749184',
  'Neutral'],
 ["RT @BrexitTheMovie: It's been an incredible few months and BREXIT THE MOVIE is NOW OUT!\n\nONLINE HERE: https://t.co/u7RmxGqU4v https://t.co/…",
  '730804736660738052',
  'Negative'],
 ["#Brexit may spark #recession warns @BankOfEngland Carney https://t.co/19X94XFBab He's right &amp; even worse in long-run https://t.co/oaCQOsuwUk",
  '730804731086524416',
  'Positive'],
 ['The EU, not NATO, has brought peace to our continent writes @MollyMEP in @theStaggers https://t.co/ZIIQkp0XtU #StrongerIn #Remain #EUref',
  '730805168015589376',
  'Neutral'],
 ['RT @obritom: @dr_teck Got it.  Thanks.  Yes spot on. We all need to keep banging the #Brexit drum.  I think that the message is slowly gett…',
  '730805153125797888',
  'Neutral'],
 ['RT @LibDemInternat: "On the inside of Europe we are part of a global community. We are more prosperous &amp; more secure" #INtogether #EUref ht…',
  '730805150726639616',
  'Neutral'],
 ["RT @PA: Former home secretary Alan Johnson describes #EUref Leave campaigners as 'extremists' https://t.co/RRbYvC5sY8 https://t.co/JsS050BF…",
  '730805135782379520',
  'Positive'],
 ["RT @BBCRealityCheck: The auditors have signed off the EU's accounts every year since 2007. https://t.co/wwYz1KqH1C\n#EUref https://t.co/wXvY…",
  '730805134805110784',
  'Negative'],
 ['PA ANALYSIS: Brexit muddying the inflation waters https://t.co/phAMh7o8XD https://t.co/UfR6Uicsc7',
  '730805126764486656',
  'Neutral'],
 ['RT @ElectronicsNews: Brexit threatens engineering sector, says head of the IET: Exiting the EU would be a risk to the... https://t.co/zEGGx…',
  '730805126311645184',
  'Positive'],
 ['RT @BreitbartLondon: PICTURES: Farage Hailed A Hero On ‘Brexit The Movie’ Red Carpet https://t.co/Jizat1j1SE https://t.co/vZnbNlo5mK',
  '730805125586026496',
  'Negative'],
 ['RT @math_jones: .@SDoughtyMP #LabourHypUKIP Welsh First Minister: UKIP AM Gill to back Carwyn Jones https://t.co/AelG9eMr4V https://t.co/4o…',
  '730805112885628928',
  'Negative']]

In [44]:
text_tweets4 = pd.DataFrame(text_tweets)

In [45]:
export_csv = text_tweets4.to_csv (r'brexit_dataframe4.csv', index = None, header=True)